# Flask Application Configuration
FLASK_APP=run.py
FLASK_ENV=development
FLASK_DEBUG=True

# Security
SECRET_KEY=replace-with-a-very-secure-secret-key-in-production

# Database
# SQLite is default, change for production (e.g. postgresql://user:password@localhost/dbname)
DATABASE_URL=sqlite:///app.db
